* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.content-wrapper-outer {
  background: bisque;
}
.content {
  margin: 0 auto;
  width: 1184px;

  position: relative;
}
.header__content {
}
.wrappper {
  width: 1618px;
  background: grey;
  margin: 0 auto;
}
.header__language-menu {
  display: inline-block;
}
.header__language-menu__items {
  list-style: none;
  margin: 0;
  padding-top: 30px;
}
.header__language-menu__item {
  display: inline-block;
}
.header__language-menu__item a {
  text-decoration: none;
  color: rgba(89, 89, 89, 255);
  font-family: "Open Sans:600", sans-serif;
  font-size: 13px;
}
.header__currency-menu {
  display: inline-block;
  position: absolute;
  right: 1px;
}
.header__currency-menu__items {
  list-style: none;
  margin: 0;

  padding-top: 30px;
}
.header__currency-menu__item {
  display: inline-block;
}
.header__currency-menu__item a {
  text-decoration: none;
  color: rgba(89, 89, 89, 255);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 13px;
}
.is-active a {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.wrappper-inner {
  background: beige;
}

.header__content-left {
  display: flex;
}

.header-text__left {
  font-size: 13px;
  display: inline-block;
  position: relative;
  bottom: 3px;
}
